 <!-- didnt't end up using restaurant-details.ejs used new-restaurant.ejs instead imported from project 2 -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title><%= name %> - Restaurant Details</title>
     <link rel="stylesheet" href="/styles.css">
     <link rel="stylesheet" href="/restaurant-details-styles.css">
 </head>
 <body>
     <header></header>
     <nav></nav>
 
     <main class="restaurant-details-container">
         <div class="restaurant-details">
             <img class="restaurant-details-img" src="<%= photo %>" alt="<%= name %>">
             <div class="restaurant-info">
                 <h1><%= name %></h1>
                 <p class="restaurant-address"><%= address %></p>
                 <p class="restaurant-phone"><%= phone %></p>
             </div>
         </div>
     </main>
 
     <footer></footer>
     <script src="/scripts/header.js"></script>
 </body>
 </html>
 





